Source: ros-noetic-sick-tim
Section: misc
Priority: optional
Maintainer: Martin Günther <martin.guenther@dfki.de>
Build-Depends: debhelper (>= 9.0.0), libusb-1.0-0-dev, ros-noetic-catkin, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-roscpp, ros-noetic-roslaunch, ros-noetic-sensor-msgs
Homepage: http://wiki.ros.org/sick_tim
Standards-Version: 3.9.2

Package: ros-noetic-sick-tim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0, libusb-1.0-0-dev, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-robot-state-publisher, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-xacro
Description: A ROS driver for the SICK TiM and the SICK MRS 1000 laser scanners.
